/* Your custom CSS rules go here */

/* Header Styles */
.bg-primary {
    background-color: #7D2647 !important;
}

.navbar {
    background-color: transparent !important;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 24px;
    margin-right: 20px;
}

.navbar-toggler-icon {
    background-color: white;
}

/* Logo Styles */
.logo img {
    max-height: 100px;
}

/* Main Content Styles */
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

/* Contact Section Styles */
.contact {
    background-color: #7D2647 !important;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.contact h1, .contact p {
    font-size: 30px;
}

/* Footer Styles */
.bg-light {
    background-color: #f9f9f9 !important;
}

.footer {
    padding: 20px 0;
    text-align: center;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section.social ul, .footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.social ul li, .footer-section.links ul li {
    margin-bottom: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    /* Header Styles */
    .navbar {
        padding: 5px !important;
    }

    .navbar-toggler-icon {
        background-color: #7D2647;
    }

    .logo img {
        max-height: 80px;
    }

    /* Main Content Styles */
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /* Contact Section Styles */
    .contact {
        padding: 20px 0;
    }

    .contact h1, .contact p {
        font-size: 24px;
    }

    /* Footer Styles */
    .footer h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer p {
        font-size: 16px;
        margin-bottom: 10px;
    }
}
